autogluon.common==1.2
autogluon.core==1.2
autogluon.features==1.2
autogluon.tabular==1.2
autogluon.timeseries==1.2
datasets==3.2.0
gluonts==0.16.0
lightning==2.5.0.post0
mxnet==1.9.1
pyarrow==18.1.0
pyasn1_modules==0.4.1
sentence_transformers==4.1.0
statsforecast==1.7.8
toolz==0.12.1
torch==2.4.1
tqdm==4.67.1
transformers==4.47.1
wandb